version: "3.9"
services:
  backend:
    build: .
    container_name: climax_backend_api
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
    
  db:
    image: postgres:15
    container_name: climax_backend_db_psql
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: climax_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: